<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My library - Quên mật khẩu</title>
    <div th:replace="web/master :: head"></div>
</head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
    <div class="site-wrap sticky-wrapper is-sticky" >
        <div th:replace="web/master :: onload"></div>
        <header th:replace="web/masterSP :: headerSP"></header>
        <section class="site-section bg-light bg-image mt-5" id="contact-section">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-12 text-center">
                        <h2 class="section-title mb-2 mt-3">Quên mật khẩu ...</h2>
                    </div>
                </div>
                <div class="row align-content-center">
                    <div class="col-lg-3 col-md-2 col-sm-12"></div>
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>

                        <div th:if="${success}" class="alert alert-success" th:text="${success}"></div>

                        <form th:action="@{/sent-mail-forgot-password}" method="post" class="p-5 bg-white">
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label class="text-black" for="email">Nhập email</label>
                                    <input type="email" name="email" id="email" class="form-control"
                                           placeholder="Email" required="true" autofocus="true">
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-md-12">
                                    <input type="submit" value="Xác nhận" class="btn btn-primary btn-md text-white">
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </section>

        <footer th:replace="web/master :: footer"></footer>
    </div>
    <div th:replace="web/master :: script"></div>
</body>
</html>