<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Quan ly thu vien - Cong nghe java">
    <meta name="author" content="">

    <!-- Bootstrap Core CSS -->
    <link th:href="@{/admin/bower_components/bootstrap/dist/css/bootstrap.min.css}"
          rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link th:href="@{/admin/bower_components/metisMenu/dist/metisMenu.min.css}" rel="stylesheet">

    <!-- Custom CSS -->
    <link th:href="@{/admin/dist/css/sb-admin-2.css}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link th:href="@{/admin/bower_components/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css">

    <!-- DataTables CSS -->
    <link th:href="@{/admin/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css}" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link th:href="@{/admin/bower_components/datatables-responsive/css/dataTables.responsive.css}" rel="stylesheet">
</head>
<body>

    <header th:fragment="header">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">CN-JAVA</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="nav-item">
                    <span th:text ="${#authentication.getPrincipal().getUser().getName()}"></span>
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i>Cá nhân</a>
                        <li class="divider"></li>
                        <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Đăng xuất</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="/admin/dashboard"><i class="fa fa-dashboard fa-fw"></i> Bảng điều khiển</a>
                        </li>
                        <li>
                            <a href="/admin/borrow"><i class="fa fa-arrow-right" aria-hidden="true"></i> Phiếu mượn</a>
                        </li>
                        <li>
                            <a href="/admin/return"><i class="fa fa-retweet" aria-hidden="true"></i> Phiếu trả</a>
                        </li>
                        <li>
                            <a href="/admin/contact"><i class="fa fa-phone" aria-hidden="true"></i> Liên hệ</a>
                        </li>
                        <li>
                            <a href="/admin/category"><i class="fa fa-list-alt" aria-hidden="true"></i> Thể loại</a>
                        </li>
                        <li>
                            <a href="/admin/book"><i class="fa fa-book" aria-hidden="true"></i> Sách</a>
                        </li>
                        <li>
                            <a href="/admin/post"><i class="fa fa-newspaper-o" aria-hidden="true"></i> Bài viết</a>
                        </li>
                        <li>
                            <a href="/admin/user"><i class="fa fa-users fa-fw"></i> Khách hàng</a>
                        </li>
                        <li>
                            <a href="/admin/slide"><i class="fa fa-sliders" aria-hidden="true"></i> Slide</a>
                        </li>
                        <li>
                            <a href="/admin/rule"><i class="fa fa-link" aria-hidden="true"></i> Quy định</a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

    </header>

    <th:block layout:fragment="script">
        <!-- jQuery -->
        <script th:src="@{/admin/bower_components/jquery/dist/jquery.min.js}"></script>

        <!-- Bootstrap Core JavaScript -->
        <script th:src="@{/admin/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script th:src="@{/admin/bower_components/metisMenu/dist/metisMenu.min.js}"></script>

        <!-- Custom Theme JavaScript -->
        <script th:src="@{/admin/dist/js/sb-admin-2.js}"></script>

        <!-- DataTables JavaScript -->
        <script th:src="@{/admin/bower_components/DataTables/media/js/jquery.dataTables.min.js}"></script>
        <script th:src="@{/admin/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js}"></script>
        <script type="text/javascript" language="javascript" th:src="@{/admin/ckeditor/ckeditor.js}" ></script>
        <!-- Page-Level Demo Scripts - Tables - Use for reference -->
        <script>
            $(document).ready(function() {
                $('#dataTables-example').DataTable({
                    responsive: true
                });

                $('.delete').click(function () {
                    if(confirm('Bạn chắc chắc muốn xóa?')) {
                        window.location.href = $(this).data('href');
                    }
                });

                $("input[data-type='currency']").on({
                    keyup: function() {
                        formatCurrency($(this));
                    },
                    blur: function() {
                        formatCurrency($(this));
                    }
                });
            });

            function formatNumber(n) {
                return n.replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            }

            function formatCurrency(input) {
                var input_val = input.val();
                if (input_val === "") { return; }
                var original_len = input_val.length;
                var caret_pos = input.prop("selectionStart");

                input_val = formatNumber(input_val);

                input.val(input_val);
                var updated_len = input_val.length;
                caret_pos = updated_len - original_len + caret_pos;
                input[0].setSelectionRange(caret_pos, caret_pos);
            }
        </script>
    </th:block>

</body>
</html>